<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .container {
      width: 500px;
      height: 500px;
      background: lime;
      position: absolute;
      top: 100px;
      left: 150px;
    }
    .box {
      width: 50px;
      height: 50px;
      background: blue;
      position: absolute;
      left: 0;
      top: 0;
    }
  </style>
  <body>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem
      accusantium, repudiandae perspiciatis iusto et dolore ratione aperiam
      expedita doloremque unde architecto id, ad nobis. Optio voluptate
      accusantium sint sapiente et? Modi, culpa ipsam. Non saepe ea pariatur.
      Cupiditate fugiat nesciunt fuga quisquam quod sint. Nemo velit eveniet
      suscipit ab veritatis facilis dignissimos iste! Quia sunt possimus
      suscipit necessitatibus pariatur iure? Lorem ipsum, dolor sit amet
      consectetur adipisicing elit. Error tenetur sapiente atque nisi nemo id
      illo itaque assumenda beatae. Itaque recusandae rerum nam molestiae
      dignissimos distinctio illo fuga assumenda nostrum! Corrupti blanditiis
      natus repudiandae expedita maxime libero ea incidunt dolores voluptatibus
      at quidem voluptates esse saepe, unde eligendi sequi ab, tempore quas,
      illo mollitia. Suscipit nesciunt architecto corrupti sed laborum? Porro
      necessitatibus ipsa, fuga maiores quasi pariatur enim laboriosam velit
      aliquam dolor autem nam! Repellat perspiciatis laudantium enim. Quae
      laborum voluptatibus totam doloribus cumque quos nisi optio repellat quas
      repellendus? Sit obcaecati animi, ea voluptatum accusantium reiciendis
      reprehenderit quaerat maxime, quia necessitatibus numquam laboriosam porro
      perferendis quis eum blanditiis architecto fugiat iusto hic, perspiciatis
      voluptas? Consectetur inventore fugiat laboriosam quam? Enim odio
      cupiditate veritatis vero reprehenderit! Totam odit rem vitae commodi
      veritatis suscipit a repudiandae, cum mollitia est libero, magnam eveniet
      natus illo qui unde inventore magni alias et porro?s
    </p>
    <div class="container">
      <div class="box"></div>
    </div>
  </body>
</html>
