:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --card-focus-ring-color: #2276fc;
  --input-fg-color: #101112;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
